@import "../../vars.css";

.container {
  padding: var(--section-padding);
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  max-width: var(--section-max-width);
  margin: var(--section-margin);
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: var(--title-size);
  font-weight: var(--title-weight);
  letter-spacing: var(--title-spacing);
  text-transform: var(--title-transform);
  margin: var(--title-margin);
  color: var(--color-text-primary);
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-8);
  justify-content: center;
}
